#what .items {
    display: block;
    padding: 1rem;
}
#what .items .item {
    display: flex;
    text-align: left;
}
#what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}
@media(max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar #logo {
        margin-bottom: 1rem;
        text-align: center;
    }

    #showcase .showcase-content {
        top: 100px;
    }

    .obrazky {
        display: block;
    }


    #obrazky .items img {
        width: 80%;
    }

    #obrazky .items  {
        flex-direction: column;
    }

    #kontakt {
        flex-direction: column;
    }
}

@media(max-width: 568px) {
    .l-heading {
        font-size: 2rem;
    }

    #navbar {
        align-items: flex-start;
    }

    #navbar ul {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    #navbar ul li a{
        padding: 0 0.5rem;
    }
    #navbar span{
        display: none;
    }
}