
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    margin: 0.75rem 0;
}
h1,h2 {
margin: 3rem;
text-align: center;
}
.text-primary{
    color: rgb(155, 2, 147);
}
.arima-text2 {
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
.container{
    max-height: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.r-heading
    {font-size: 3.5rem;
    margin-bottom: 0,75rem;
    line-height: 1.1;
}
.l-heading{
    font-size: 3.5rem;
    margin-bottom: 0,75rem;
    line-height: 1.1;
    color: white;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: white;
}
.btn{
    display: inline-block;
    background: rgb(177, 77, 10);
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: #5e3e0e;
}
#navbar{
    background-color: rgb(114, 72, 25);
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 1rem;
    height: 60px;
    position: sticky;
    z-index: 1;
}
#navbar .logo{
    margin: 0 12px;
    font-weight: bold;
    font-size: larger;
}
#navbar ul{
    display: flex;
    list-style: none;
}
#navbar ul li{
    margin: 0 10px;
    padding: 0 5px;
}
#navbar ul li a{
    margin: 0 12px;
    color: black;
    padding: 12px;
    display: flex;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
}
#navbar ul li a:hover{
    background-color: rgb(90, 90, 243);
}
#showcase{
    background: url(../img/joshua-sukoff-nPfU-Uen0mk-unsplash.jpg) no-repeat center center/cover;
    height: 100vh;
    color: black;
}
#showcase .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}
#what .items {
display: flex;
justify-content: space-around;
padding: 1rem;
text-align: center;
}
#what .item{
    position: relative;
    background-color: white;
    padding: 0.3rem;
    margin-bottom: 2rem;
}
.bg-dark {
    background-color: #555;
    color: white;
}
#obrazky .items {
    display: flex;
    justify-content: space-around;
}

#obrazky .item {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    padding: 0.3rem;
    margin-bottom: 2rem;
}
#kontakt ul{
    margin: 0.5rem 0;
    list-style: none;
}
#kontakt li{
    padding: 0.5rem 0;
}
#kontakt .container {
    display: flex;
}
#kontakt div {
    flex: 1;
}
#kontakt .kontakt-img {
    background: url("../img/austin-pacheco-FtL07GM9Q7Y-unsplash.jpg") no-repeat center center/cover;
}

table, tr, td {
    border: 2px solid black;
    background-color: rgb(197, 193, 193);  
    margin: 4rem;  
}
